# -----------------------
# Игнорим байт-код Python
# -----------------------
pycache/
*.py[cod]
*.pyo
*.pyd

# -----------------------
# Виртуальные окружения
# -----------------------
venv/
.venv/
env/
ENV/

# -----------------------
# Файлы переменных окружения
# -----------------------
.env

# -----------------------
# Логи и временные файлы
# -----------------------
*.log
*.sqlite3

# -----------------------
# IDE и редакторы
# -----------------------
.idea/
*.iml
.vscode/

# -----------------------
# Docker-Compose overrides
# -----------------------
docker-compose.override.yml

# -----------------------
# Сборки фронтенда (если случайно попало в корень)
# -----------------------
dist/
node_modules/