python-telegram-bot==20.8
aiohttp==3.9.5

python-dotenv

requests>=2.28
urllib3<2.0,>=1.26
fastapi
uvicorn[standard]
sqlmodel
psycopg2-binary     
vk_api==11.9            # ← если используете библиотеку для VK