


python-dotenv
requests>=2.28
urllib3<2.0,>=1.26
fastapi
uvicorn[standard]
sqlmodel
psycopg2-binary==2.9.9

vk_api==11.9            # ← если используете библиотеку для VK
alembic==1.13.1
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4 